.inputsWrapper, .operationList, .submit {
    flex: 1;
    justify-content: center;
    margin:5px;
    color:#ffffff;
    text-align: center;
}

.inputsWrapper {
    margin: 10px !important;
}

.form {
    margin: auto;
    display: flex;
}

.active {
    background-color: #d94829 !important;
}

.show {
    visibility: visible !important;
    opacity: 1 !important;
}

.errorMessage {
    min-height:25px;
    text-align: center;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    background-color: #d94829;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: visibility 0s, opacity 0.5s linear;
}

.formInput {
    padding-left: 20px;
    min-width: 30%;
    display: flex;
    border-radius:50px;
    margin: 5px;
}

.dropdownInput {
    max-width: 390px;
    min-height: 50px;
    display: flex;
    border-radius:50px;
    margin: 5px;
}

.dropdownOverride {
    padding:8px 30% 8px 0px;
}

.dropdownPlaceholderOverride {
    margin-left: 30px;
    padding-top: 3px;
}

.dropdownArrowOverride {
    top:20px
}

.dropdownMenuOverride {
    border-top-style: none;
    border-radius: 0 0 25px 25px;
    width:30%;
    top:75%
}

.textarea {
    resize: none !important;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow:hidden;
}

.form-background {
    background-color: #de6939 !important;
}